<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}">
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No found users!</h2>
    <div th:case="*">
        <h1>Table users</h1>
        <table border="2">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getSurname()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td><a class="h4 mr-2" th:href="@{user-edit/{id}(id=${user.getId()})}">Edit</a></td>
                <td><a class="h4" th:href="@{user-delete/{id}(id=${user.getId()})}">Delete</a></td>
<!--                <td><form th:method="DELETE" th:action="@{user-delete/{id}(id=${user.getId()})}">-->
<!--                    <input type="submit" value="Delete">-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/new-user">Add user</a> </p>
</div>
</body>
</html>